In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

## Data

In [3]:
df = pd.read_csv('globalterrorismdb_0718dist.csv')
df

C:\Users\ACER\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [4]:
df_fixed = df.loc[:,['iyear', "country_txt",'city', 'latitude', 'longitude','success','attacktype1_txt','targtype1_txt','gname','weaptype1_txt','nkill']]
df_fixed

,iyear,country_txt,city,latitude,longitude,success,attacktype1_txt,targtype1_txt,gname,weaptype1_txt,nkill
0,1970,Dominican Republic,Santo Domingo,18.456792,-69.951164,1,Assassination,Private Citizens & Property,MANO-D,Unknown,1.0
1,1970,Mexico,Mexico city,19.371887,-99.086624,1,Hostage Taking (Kidnapping),Government (Diplomatic),23rd of September Communist League,Unknown,0.0
2,1970,Philippines,Unknown,15.478598,120.599741,1,Assassination,Journalists & Media,Unknown,Unknown,1.0
3,1970,Greece,Athens,37.997490,23.762728,1,Bombing/Explosion,Government (Diplomatic),Unknown,Explosives,NaN
4,1970,Japan,Fukouka,33.580412,130.396361,1,Facility/Infrastructure Attack,Government (Diplomatic),Unknown,Incendiary,NaN
...,...,...,...,...,...,...,...,...,...,...,...
181686,2017,Somalia,Ceelka Geelow,2.359673,45.385034,1,Armed Assault,Military,Al-Shabaab,Firearms,1.0
181687,2017,Syria,Jableh,35.407278,35.942679,1,Bombing/Explosion,Military,Muslim extremists,Explosives,2.0
181688,2017,Philippines,Kubentog,6.900742,124.437908,1,Facility/Infrastructure Attack,Private Citizens & Property,Bangsamoro Islamic Freedom Movement (BIFM),Incendiary,0.0
181689,2017,India,Imphal,24.798346,93.940430,0,Bombing/Explosion,Government (General),Unknown,Explosives,0.0
181690,2017,Philippines,Cotabato City,7.209594,124.241966,0,Bombing/Explosion,Unknown,Unknown,Explosives,0.0

## Removing Unknown

In [5]:
df_fixed['gname'].value_counts()

Unknown                                             82782
Taliban                                              7478
Islamic State of Iraq and the Levant (ISIL)          5613
Shining Path (SL)                                    4555
Farabundo Marti National Liberation Front (FMLN)     3351
                                                    ...
Al-Herak Al-Tihami Movement                             1
Afghan War Veterans                                     1
Catalan Militia                                         1
Supporters of Muhammad Umar Habib                       1
Kurdish Peshmerga Guerrillas                            1
Name: gname, Length: 3537, dtype: int64

In [4]:
df_rem_unk = df_fixed.drop(df[df.gname == 'Unknown'].index)
df_rem_unk

,iyear,country_txt,city,latitude,longitude,success,attacktype1_txt,targtype1_txt,gname,weaptype1_txt,nkill
0,1970,Dominican Republic,Santo Domingo,18.456792,-69.951164,1,Assassination,Private Citizens & Property,MANO-D,Unknown,1.0
1,1970,Mexico,Mexico city,19.371887,-99.086624,1,Hostage Taking (Kidnapping),Government (Diplomatic),23rd of September Communist League,Unknown,0.0
5,1970,United States,Cairo,37.005105,-89.176269,1,Armed Assault,Police,Black Nationalists,Firearms,0.0
6,1970,Uruguay,Montevideo,-34.891151,-56.187214,0,Assassination,Police,Tupamaros (Uruguay),Firearms,0.0
8,1970,United States,Madison,43.076592,-89.412488,1,Facility/Infrastructure Attack,Military,New Year's Gang,Incendiary,0.0
...,...,...,...,...,...,...,...,...,...,...,...
181683,2017,Afghanistan,Kohistan district,35.315467,64.815508,1,Armed Assault,Terrorists/Non-State Militia,Taliban,Firearms,6.0
181684,2017,India,Hungrum,25.180162,93.015788,1,Hostage Taking (Kidnapping),Government (General),Zeliangrong United Front,Firearms,0.0
181686,2017,Somalia,Ceelka Geelow,2.359673,45.385034,1,Armed Assault,Military,Al-Shabaab,Firearms,1.0
181687,2017,Syria,Jableh,35.407278,35.942679,1,Bombing/Explosion,Military,Muslim extremists,Explosives,2.0
181688,2017,Philippines,Kubentog,6.900742,124.437908,1,Facility/Infrastructure Attack,Private Citizens & Property,Bangsamoro Islamic Freedom Movement (BIFM),Incendiary,0.0

### country -> attackers

In [5]:
df_rem_net = df_rem_unk.loc[:,["country_txt","gname"]]
# add terrorist groups name for each attack launched to each countries
df_rem_net['attackers'] = df_rem_net.groupby(['country_txt'])['gname'].transform(lambda x : ', '.join(x))
del df_rem_net['gname']
df_rem_net

               country_txt                                          attackers
0       Dominican Republic  MANO-D, Dominican Popular Movement (MPD), Tony...
1                   Mexico  23rd of September Communist League, Revolution...
5            United States  Black Nationalists, New Year's Gang, New Year'...
6                  Uruguay  Tupamaros (Uruguay), Tupamaros (Uruguay), Tupa...
8            United States  Black Nationalists, New Year's Gang, New Year'...
...                    ...                                                ...
181683         Afghanistan  Black December, Shia Muslim extremists, Muslim...
181684               India  Palestinians, Ananda Marga, Japanese Red Army ...
181686             Somalia  Front for the Liberation of the French Somali ...
181687               Syria  Arab Communist Organization, Arab Communist Or...
181688         Philippines  New People's Army (NPA), New People's Army (NP...

[98909 rows x 2 columns]

In [6]:
df_rem_net = df_rem_net.drop_duplicates()
df_rem_net

               country_txt                                          attackers
0       Dominican Republic  MANO-D, Dominican Popular Movement (MPD), Tony...
1                   Mexico  23rd of September Communist League, Revolution...
5            United States  Black Nationalists, New Year's Gang, New Year'...
6                  Uruguay  Tupamaros (Uruguay), Tupamaros (Uruguay), Tupa...
15      East Germany (GDR)  Commune 1, Extraparliamentary Opposition (APO)...
...                    ...                                                ...
93367               Serbia  The Black Sun, Liberation Army for Presevo, Me...
105970         South Sudan  Revolutionary Front, South Sudan Democratic Ar...
146400        Burkina Faso  Al-Mua'qi'oon Biddam Brigade (Those who Sign w...
166103             Albania                                  Muslim extremists
173772             Vietnam  Provisional National Government of Vietnam, Pr...

[192 rows x 2 columns]

In [7]:
df_rem_net.reset_index(drop=True, inplace=True)
df_rem_net

            country_txt                                          attackers
0    Dominican Republic  MANO-D, Dominican Popular Movement (MPD), Tony...
1                Mexico  23rd of September Communist League, Revolution...
2         United States  Black Nationalists, New Year's Gang, New Year'...
3               Uruguay  Tupamaros (Uruguay), Tupamaros (Uruguay), Tupa...
4    East Germany (GDR)  Commune 1, Extraparliamentary Opposition (APO)...
..                  ...                                                ...
187              Serbia  The Black Sun, Liberation Army for Presevo, Me...
188         South Sudan  Revolutionary Front, South Sudan Democratic Ar...
189        Burkina Faso  Al-Mua'qi'oon Biddam Brigade (Those who Sign w...
190             Albania                                  Muslim extremists
191             Vietnam  Provisional National Government of Vietnam, Pr...

[192 rows x 2 columns]

In [30]:
# safe to excel for visualization in Gephi
df_rem_net.to_excel('df_rem_net.xlsx')

### Attackers -> country

In [8]:
df_att_cou = df_rem_unk.loc[:,["gname","country_txt"]]
# add terrorist groups name for each attack launched to each countries
df_att_cou['victims'] = df_att_cou.groupby(['gname'])['country_txt'].transform(lambda x : ', '.join(x))
del df_att_cou['country_txt']
df_att_cou

,gname,victims
0,MANO-D,Dominican Republic
1,23rd of September Communist League,"Mexico, Mexico, Mexico, Mexico, Mexico, Mexico..."
5,Black Nationalists,"United States, United States, United States, U..."
6,Tupamaros (Uruguay),"Uruguay, Uruguay, Uruguay, Uruguay, Uruguay, U..."
8,New Year's Gang,"United States, United States, United States, U..."
...,...,...
181683,Taliban,"Afghanistan, Afghanistan, Afghanistan, Afghani..."
181684,Zeliangrong United Front,"India, India, India, India, India, India, Indi..."
181686,Al-Shabaab,"Ethiopia, Somalia, Somalia, Somalia, Somalia, ..."
181687,Muslim extremists,"Syria, Iran, Indonesia, Sri Lanka, Sri Lanka, ..."
181688,Bangsamoro Islamic Freedom Movement (BIFM),"Philippines, Philippines, Philippines, Philipp..."

In [9]:
df_att_cou = df_att_cou.drop_duplicates()
df_att_cou.reset_index(drop=True, inplace=True)
df_att_cou

,gname,victims
0,MANO-D,Dominican Republic
1,23rd of September Communist League,"Mexico, Mexico, Mexico, Mexico, Mexico, Mexico..."
2,Black Nationalists,"United States, United States, United States, U..."
3,Tupamaros (Uruguay),"Uruguay, Uruguay, Uruguay, Uruguay, Uruguay, U..."
4,New Year's Gang,"United States, United States, United States, U..."
...,...,...
3531,The Owners of the White Flags,Iraq
3532,High Council for the Unity of Azawad (HCUA),"Mali, Mali, Mali, Mali"
3533,Fatoni Warriors,Thailand
3534,Minorities of Metropolitan Attacks,"Greece, Greece"
3535,Baloch Republican Party,"Pakistan, Pakistan"

In [13]:
# safe to excel for visualization in Gephi
df_att_cou.to_excel('df_att_cou.xlsx')

## Focusing on Taliban and Afghanistan

#### Taliban

In [13]:
df_tal = df_fixed.loc[df_fixed.gname == 'Taliban']
df_tal

,iyear,country_txt,city,latitude,longitude,success,attacktype1_txt,targtype1_txt,gname,weaptype1_txt,nkill
59040,1995,Afghanistan,Unknown,NaN,NaN,1,Hostage Taking (Kidnapping),Police,Taliban,Unknown,0.0
60014,1995,Afghanistan,Kandahar,31.631083,65.742226,1,Hijacking,Airports & Aircraft,Taliban,Explosives,0.0
60462,1995,Afghanistan,Kandahar,31.631083,65.742226,1,Hijacking,Airports & Aircraft,Taliban,Explosives,0.0
60786,1995,Afghanistan,Kabul,34.516895,69.147011,0,Bombing/Explosion,Airports & Aircraft,Taliban,Explosives,0.0
71682,2001,Afghanistan,Yakawlang,34.733333,66.966667,1,Armed Assault,Private Citizens & Property,Taliban,Firearms,150.0
...,...,...,...,...,...,...,...,...,...,...,...
181600,2017,Afghanistan,Ghani Khel district,34.195782,70.787483,1,Unknown,Police,Taliban,Unknown,4.0
181619,2017,Afghanistan,Ghazni,33.542622,68.415329,1,Unknown,Police,Taliban,Unknown,3.0
181651,2017,Afghanistan,Khas Uruzgan district,32.932938,66.689238,1,Unknown,Military,Taliban,Unknown,11.0
181676,2017,Afghanistan,Mohammad Agha district,34.217806,69.109316,1,Bombing/Explosion,Police,Taliban,Explosives,5.0
181683,2017,Afghanistan,Kohistan district,35.315467,64.815508,1,Armed Assault,Terrorists/Non-State Militia,Taliban,Firearms,6.0

In [11]:
df_tal['country_txt'].value_counts()

Afghanistan     7423
Pakistan          54
Turkmenistan       1
Name: country_txt, dtype: int64

#### Afghanistan

In [7]:
#focusing on city on Afghanistan
df_afg = df_fixed.loc[df_fixed.country_txt == 'Afghanistan']
df_afg

,iyear,country_txt,city,latitude,longitude,success,attacktype1_txt,targtype1_txt,gname,weaptype1_txt,nkill
1863,1973,Afghanistan,Kabul,34.516895,69.147011,0,Unknown,Airports & Aircraft,Black December,Unknown,0.0
7627,1979,Afghanistan,Kabul,34.516895,69.147011,1,Hostage Taking (Kidnapping),Government (Diplomatic),Shia Muslim extremists,Unknown,1.0
9156,1979,Afghanistan,Ghazni,33.542622,68.415329,1,Bombing/Explosion,Transportation,Muslim Guerrillas,Explosives,50.0
9218,1979,Afghanistan,Herat,34.346722,62.197315,1,Armed Assault,Tourists,Muslim Guerrillas,Firearms,2.0
31132,1987,Afghanistan,Unknown,NaN,NaN,1,Unarmed Assault,Private Citizens & Property,Afghan Mujahideen,Chemical,0.0
...,...,...,...,...,...,...,...,...,...,...,...
181651,2017,Afghanistan,Khas Uruzgan district,32.932938,66.689238,1,Unknown,Military,Taliban,Unknown,11.0
181673,2017,Afghanistan,Jalalabad,34.417122,70.449593,1,Bombing/Explosion,Private Citizens & Property,Khorasan Chapter of the Islamic State,Explosives,18.0
181676,2017,Afghanistan,Mohammad Agha district,34.217806,69.109316,1,Bombing/Explosion,Police,Taliban,Explosives,5.0
181683,2017,Afghanistan,Kohistan district,35.315467,64.815508,1,Armed Assault,Terrorists/Non-State Militia,Taliban,Firearms,6.0
181685,2017,Afghanistan,Maymana,35.921051,64.774544,1,Bombing/Explosion,Business,Unknown,Explosives,0.0

In [8]:
df_afg['city'].value_counts()

Unknown          1124
Kabul             738
Kandahar          363
Jalalabad         266
Lashkar Gah       190
                 ...
Shaykh Zai          1
Dalan Sang          1
Haji Aziz           1
Dasht Malizai       1
Barogi              1
Name: city, Length: 2764, dtype: int64

In [12]:
#how many unique attacker groups in Afghanistan
total_att_afg = df_afg['gname'].nunique() - 1 #(-1) because there is still 'unknown' group in the data that we don't include in the analysis
total_att_afg

44

In [32]:
#cut down city with only one attack to create a smaller data
df_afg = df_afg.groupby('city').filter(lambda x : len(x)>1)
df_afg

,iyear,country_txt,city,latitude,longitude,success,attacktype1_txt,targtype1_txt,gname,weaptype1_txt,nkill
1863,1973,Afghanistan,Kabul,34.516895,69.147011,0,Unknown,Airports & Aircraft,Black December,Unknown,0.0
7627,1979,Afghanistan,Kabul,34.516895,69.147011,1,Hostage Taking (Kidnapping),Government (Diplomatic),Shia Muslim extremists,Unknown,1.0
9156,1979,Afghanistan,Ghazni,33.542622,68.415329,1,Bombing/Explosion,Transportation,Muslim Guerrillas,Explosives,50.0
9218,1979,Afghanistan,Herat,34.346722,62.197315,1,Armed Assault,Tourists,Muslim Guerrillas,Firearms,2.0
31132,1987,Afghanistan,Unknown,NaN,NaN,1,Unarmed Assault,Private Citizens & Property,Afghan Mujahideen,Chemical,0.0
...,...,...,...,...,...,...,...,...,...,...,...
181651,2017,Afghanistan,Khas Uruzgan district,32.932938,66.689238,1,Unknown,Military,Taliban,Unknown,11.0
181673,2017,Afghanistan,Jalalabad,34.417122,70.449593,1,Bombing/Explosion,Private Citizens & Property,Khorasan Chapter of the Islamic State,Explosives,18.0
181676,2017,Afghanistan,Mohammad Agha district,34.217806,69.109316,1,Bombing/Explosion,Police,Taliban,Explosives,5.0
181683,2017,Afghanistan,Kohistan district,35.315467,64.815508,1,Armed Assault,Terrorists/Non-State Militia,Taliban,Firearms,6.0
181685,2017,Afghanistan,Maymana,35.921051,64.774544,1,Bombing/Explosion,Business,Unknown,Explosives,0.0

In [68]:
df_afg['city'] = df_afg['city'].astype(str)
df_afg = df_afg.drop(df_afg[df_afg.city == 'Unknown'].index)
df_afg['city'].value_counts()

Kabul          738
Kandahar       363
Jalalabad      266
Lashkar Gah    190
Ghazni         189
              ...
Kote Sangi       2
Chashmah         2
Zangitan         2
Qaraghel         2
Ghoryan          2
Name: city, Length: 899, dtype: int64

In [44]:
# make the df become group to city
df_afg_net = df_afg.loc[:,["gname","city"]]
# add terrorist groups name for each attack launched to each countries
df_afg_net['victims'] = df_afg_net.groupby(['gname'])['city'].transform(lambda x : ', '.join(x))
del df_afg_net['city']
df_afg_net

,gname,victims
1863,Black December,Kabul
7627,Shia Muslim extremists,Kabul
9156,Muslim Guerrillas,"Ghazni, Herat"
9218,Muslim Guerrillas,"Ghazni, Herat"
33931,Afghan Rebels,Kabul
...,...,...
181651,Taliban,"Kandahar, Kandahar, Kabul, Kabul, Khost, Ghazn..."
181673,Khorasan Chapter of the Islamic State,"Charkh district, Kansak, Jalalabad, Kot distri..."
181676,Taliban,"Kandahar, Kandahar, Kabul, Kabul, Khost, Ghazn..."
181683,Taliban,"Kandahar, Kandahar, Kabul, Kabul, Khost, Ghazn..."
181685,Unknown,"Maymana, Kabul, Kabul, Kabul, Kabul, Jalalabad..."

In [45]:
df_afg_net = df_afg_net.drop_duplicates()
df_afg_net.reset_index(drop=True, inplace=True)
df_afg_net

,gname,victims
0,Black December,Kabul
1,Shia Muslim extremists,Kabul
2,Muslim Guerrillas,"Ghazni, Herat"
3,Afghan Rebels,Kabul
4,Unknown,"Maymana, Kabul, Kabul, Kabul, Kabul, Jalalabad..."
5,Hizb-I-Islami,"Kabul, Kabul, Kabul, Kabul, Taloqan, Mazari Sh..."
6,Afghan Mujahideen,"Kabul, Kabul, Kabul, Kabul, Kabul"
7,Guerrillas,"Kabul, Kabul, Kabul, Kabul, Kabul"
8,Afghan Guerrillas,"Kabul, Kabul, Kabul, Jalalabad, Kabul, Kandahar"
9,Najib Watan Party Faction,Kabul
10,Harakat-i-Inqilahi-i-Islami,Maydan Shahr
11,Hezb-e Wahdat-e Islami-yi Afghanistan,"Kabul, Kabul, Kabul, Kabul, Kabul"
12,Muslim Militants,"Gardez, Khost, Jalalabad"
13,Taliban,"Kandahar, Kandahar, Kabul, Kabul, Khost, Ghazn..."
14,The Northern Alliance (or United Islamic Front...,"Kabul, Kabul, Kabul, Kabul, Kandahar"
15,Opposition Group,"Kabul, Kabul, Kabul, Kabul, Kabul"
16,Al-Qaida,"Jalalabad, Spin Boldak, Kandahar, Kabul, Jalal..."
17,Anti-United States extremists,"Shakin, Gardez"
18,Saif-ul-Muslimeen,Jalalabad
19,Jaish al-Muslimin (Army of the Muslims),Kabul
20,Tela Mohammed,Kabul
21,Haqqani Network,"Tani, Kabul, Kabul, Kabul, Saberi district, Ka..."
22,Muslim extremists,"Bala Murghab, Tani district, Jalalabad"
23,Al-Fatah,Herat
24,Gholam Yahya Akbar,Herat
25,Tehrik-i-Taliban Pakistan (TTP),"Pashad, nan, Kamdesh district, Puli Charkhi, A..."
26,Khorasan jihadi group,"Khogyani district, Pachir Wa Agam"
27,Gunmen,"Baghran district, Kabul, Zaranj"
28,Lashkar-e-Jhangvi,"Kabul, Kabul"
29,Islamic Movement of Uzbekistan (IMU),"Taloqan, Shahjoy district"
30,Mahaz Fedai Tahrik Islami Afghanistan,"Kabul, Puli Alam, Kabul, Maymana"
31,Mullah Dadullah Front,Kabul
32,Lashkar-e-Taiba (LeT),"Jalalabad, Bihsud district"
33,Khorasan Chapter of the Islamic State,"Charkh district, Kansak, Jalalabad, Kot distri..."
34,Jaish-e-Mohammad (JeM),Mazari Sharif
35,Jundallah (Pakistan),Dashti Qala district

In [46]:
# safe to excel for visualization in Gephi
df_afg_net.to_excel('df_afg_city.xlsx')

In [13]:
df_tal = df_fixed.loc[df.country_txt == 'Afghanistan']
df_tal

,iyear,country_txt,city,latitude,longitude,success,attacktype1_txt,targtype1_txt,gname,weaptype1_txt,nkill
1863,1973,Afghanistan,Kabul,34.516895,69.147011,0,Unknown,Airports & Aircraft,Black December,Unknown,0.0
7627,1979,Afghanistan,Kabul,34.516895,69.147011,1,Hostage Taking (Kidnapping),Government (Diplomatic),Shia Muslim extremists,Unknown,1.0
9156,1979,Afghanistan,Ghazni,33.542622,68.415329,1,Bombing/Explosion,Transportation,Muslim Guerrillas,Explosives,50.0
9218,1979,Afghanistan,Herat,34.346722,62.197315,1,Armed Assault,Tourists,Muslim Guerrillas,Firearms,2.0
31132,1987,Afghanistan,Unknown,NaN,NaN,1,Unarmed Assault,Private Citizens & Property,Afghan Mujahideen,Chemical,0.0
...,...,...,...,...,...,...,...,...,...,...,...
181651,2017,Afghanistan,Khas Uruzgan district,32.932938,66.689238,1,Unknown,Military,Taliban,Unknown,11.0
181673,2017,Afghanistan,Jalalabad,34.417122,70.449593,1,Bombing/Explosion,Private Citizens & Property,Khorasan Chapter of the Islamic State,Explosives,18.0
181676,2017,Afghanistan,Mohammad Agha district,34.217806,69.109316,1,Bombing/Explosion,Police,Taliban,Explosives,5.0
181683,2017,Afghanistan,Kohistan district,35.315467,64.815508,1,Armed Assault,Terrorists/Non-State Militia,Taliban,Firearms,6.0
181685,2017,Afghanistan,Maymana,35.921051,64.774544,1,Bombing/Explosion,Business,Unknown,Explosives,0.0

In [14]:
# group attack value counts
df_tal['gname'].value_counts()

Taliban                                                                                 7423
Unknown                                                                                 4806
Khorasan Chapter of the Islamic State                                                    242
Haqqani Network                                                                           84
Hizb-I-Islami                                                                             42
Al-Qaida                                                                                  20
Tehrik-i-Taliban Pakistan (TTP)                                                           15
Gunmen                                                                                     9
Afghan Mujahideen                                                                          7
Afghan Guerrillas                                                                          7
Guerrillas                                                                                 6
Hezb-e Wahdat-e Islami-yi Afghanistan                                                      5
The Northern Alliance (or United Islamic Front for Salvation of Afghanistan - UIFSA)       5
Opposition Group                                                                           5
Mahaz Fedai Tahrik Islami Afghanistan                                                      5
Militants                                                                                  4
Muslim extremists                                                                          3
Jamiat-e Islami-yi Afghanistan                                                             3
Muslim Militants                                                                           3
Insurgents                                                                                 3
Lashkar-e-Jhangvi                                                                          2
Anti-United States extremists                                                              2
Jaish al-Muslimin (Army of the Muslims)                                                    2
Afghan Rebels                                                                              2
Muslim Guerrillas                                                                          2
Islamic Movement of Uzbekistan (IMU)                                                       2
Islamist extremists                                                                        2
Lashkar-e-Taiba (LeT)                                                                      2
Khorasan jihadi group                                                                      2
Al-Fatah                                                                                   1
Nahzat e Eslami                                                                            1
Ittehad-i-Islami                                                                           1
Najib Watan Party Faction                                                                  1
Jaish-e-Mohammad (JeM)                                                                     1
Jundallah (Pakistan)                                                                       1
Gholam Yahya Akbar                                                                         1
Saif-ul-Muslimeen                                                                          1
Harakat-i-Inqilahi-i-Islami                                                                1
Haji Fateh                                                                                 1
Tela Mohammed                                                                              1
Mahaz-e-Milli Islami Afghanistan                                                           1
Shia Muslim extremists                                                                     1
Shinwari Tribe                                                                             1
Black December                                                                             1
Mullah Dadullah Front                                                                      1
Name: gname, dtype: int64

### unused graph

In [15]:
# count the number of attack in each country
df_country = df_fixed['country_txt'].value_counts().to_frame().reset_index()
df_country.columns = ['Country', 'Terrorism Count']
df_country

              Country  Terrorism Count
0                Iraq            24636
1            Pakistan            14368
2         Afghanistan            12731
3               India            11960
4            Colombia             8306
..                ...              ...
200       North Korea                1
201     International                1
202  Falkland Islands                1
203         St. Lucia                1
204      New Hebrides                1

[205 rows x 2 columns]

In [16]:
# count the number of attack in each country
df_group = df_fixed['gname'].value_counts().to_frame().reset_index()
df_group.columns = ['Group', 'Terrorism Count']
df_group

                                                 Group  Terrorism Count
0                                              Unknown            82782
1                                              Taliban             7478
2          Islamic State of Iraq and the Levant (ISIL)             5613
3                                    Shining Path (SL)             4555
4     Farabundo Marti National Liberation Front (FMLN)             3351
...                                                ...              ...
3532           Achik National Volunteer Council (ANVC)                1
3533                        Bedouin Israeli extremists                1
3534                                       BAY Bombers                1
3535              National Democratic Front of Liberia                1
3536                         Musa Sudi Yalahow Militia                1

[3537 rows x 2 columns]

In [17]:
# filter groups with at least 100 attacks
df_group = df_group[df_group['Terrorism Count'] >= 100]
df_group.drop(0)

                                                 Group  Terrorism Count
1                                              Taliban             7478
2          Islamic State of Iraq and the Levant (ISIL)             5613
3                                    Shining Path (SL)             4555
4     Farabundo Marti National Liberation Front (FMLN)             3351
5                                           Al-Shabaab             3288
..                                                 ...              ...
118                                  The Extraditables              109
119                                         Anarchists              109
120                                   White extremists              105
121                         Jihadi-inspired extremists              102
122  Sudan People's Liberation Movement in Oppositi...              101

[122 rows x 2 columns]

# create data set for machine learning

In [52]:
cc = pd.read_excel('city-city edges.xlsx')
cc

,Source,Target,Type,Id,Label,Interval,Weight
0,Nad Ali district,Mata Khan district,Undirected,1,NaN,NaN,16.0
1,Marja,Khvoshab,Undirected,2,NaN,NaN,8.0
2,Tangi,Azizabad,Undirected,3,NaN,NaN,11.0
3,Zurmat,Bagram,Undirected,4,NaN,NaN,44.0
4,Jalalabad,Ghoryan district,Undirected,5,NaN,NaN,601.0
...,...,...,...,...,...,...,...
217805,Mihtarlam district,Jurm district,Undirected,218300,NaN,NaN,4.0
217806,Pech district,Darzab district,Undirected,218301,NaN,NaN,7.0
217807,Sangin,Gardez,Undirected,218302,NaN,NaN,303.0
217808,Mazari Sharif,Dangam district,Undirected,218303,NaN,NaN,146.0
217809,Baraki Barak,Anar Dara,Undirected,218304,NaN,NaN,12.0

In [56]:
# get all unique cities
cities = set(cc['Source'].unique()).union(set(cc['Target'].unique()))

# create a new dataframe with all possible city connections
new_df = pd.DataFrame(columns=cities, index=cities)

# fill the new dataframe with 0s and 1s
for index, row in cc.iterrows():
    new_df.loc[row['Source'], row['Target']] = 1

new_df.fillna(0, inplace=True)

new_df

,NaN,Kansak,Bazarak,Dawlat Shah district,Laman,Khwaja Umari district,Surobi district,Nahri Saraj district,Qadis,Khanabad,...,Nahri Saraj,Sur Dewal,Zaranj,Zhari district,Pashtun Kot,Bargi Matal district,Almar district,Nari,Badpakh,Maywand district
NaN,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Kansak,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
Bazarak,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
Dawlat Shah district,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
Laman,0,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Bargi Matal district,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Almar district,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Nari,0,1,1,1,1,1,0,1,0,1,...,1,0,0,0,0,1,1,0,1,1
Badpakh,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Maywand district,0,1,1,1,1,1,0,0,0,1,...,0,0,0,0,0,1,1,0,1,0

In [58]:
# get all unique cities
cities = set(cc['Source'].unique()).union(set(cc['Target'].unique()))

# create a list of tuples with all possible city connections
city_connections = [(i, j) for i in cities for j in cities]

# create a new dataframe with columns "first city name", "second city name", and "connection"
new_df = pd.DataFrame(columns=['first city name', 'second city name', 'connection'])

# fill the new dataframe with 0s and 1s
for i, j in city_connections:
    if (i,j) in zip(cc['Source'], cc['Target']):
        new_df = new_df.append({'first city name': i, 'second city name': j, 'connection': 1}, ignore_index=True)
    else:
        new_df = new_df.append({'first city name': i, 'second city name': j, 'connection': 0}, ignore_index=True)
        
new_df

KeyboardInterrupt:

In [62]:
# Create a multi-index with all unique cities
cities = cc['Source'].unique()
mi = pd.MultiIndex.from_product([cities, cities], names=['first_city', 'second_city'])

# Create a new empty dataframe for the connections
connections = pd.DataFrame({'link': 0}, index=mi)

# Set the connection value to 1 for all existing connections
cc['link'] = 1
connections.update(cc.set_index(['Source', 'Target'])['link'])

# Reset the index and rename the columns
connections = connections.reset_index().rename(columns={'first_city': 'First City', 'second_city': 'Second City'})

# Print the connections dataframe
connections

              First City         Second City  link
0       Nad Ali district    Nad Ali district   0.0
1       Nad Ali district               Marja   1.0
2       Nad Ali district               Tangi   0.0
3       Nad Ali district              Zurmat   0.0
4       Nad Ali district           Jalalabad   1.0
...                  ...                 ...   ...
501259        Abdul Khel            Adraskan   0.0
501260        Abdul Khel               Achin   0.0
501261        Abdul Khel      Achin district   0.0
501262        Abdul Khel  Ab Kamari district   0.0
501263        Abdul Khel          Abdul Khel   0.0

[501264 rows x 3 columns]

In [63]:
# safe to excel for machine learning
connections.to_excel('connections.xlsx')